bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

/next-id-worker/node_modules/
/next-id-worker/.wrangler/

/web/node_modules/
/web/.angular/
/web/dist/
/web/coverage/
/web/storybook-static/

*.db*

*.cast
*.gif
.playwright-cli/

.DS_Store
